.elemento-form{
    padding: 16px;
    border: 1px solid beige
}

.elemento-from-button{
    background-color: black;
    color: white;
    border-radius:20px;
    padding:6px;
    border: 10px solid beige;
}

label{
    padding-right: 10px;
    font-weight: bold;
}

input{
    background-color: rgb(255, 255, 255);
    color: white;
}



