ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: square;
    background-color: beige;
}

h4 {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contenidos-incidencias {
    display: flex;
    justify-content: space-around;
}

main {
    flex:1;
    background-color: beige;
    padding: 40px;
    border: 20px, beige;
}

aside {
    flex:1;
    display: flex;
    background-color: beige;
    padding: 20px;
    padding: 40px;
}